%bb_square__item-base {
  position: relative;
  margin-bottom: 1rem;

  @media(min-width: $screen-xs) {
    display: inline;
    max-width: 240px;
    max-height: 240px;

  }

  &:not(:last-of-type) {
    @media(min-width: $screen-xs) {
      margin-right: 1rem;
    }
  }
}

.bb_square {

//  display: flex;
//  flex-direction: row;
//  flex-wrap: wrap;

  @media(min-width: $screen-sm) {

  }

  &__row {

    display: flex;
    flex-direction: column;
    margin-bottom: 0;

    @media (min-width: $screen-xs) {
      flex-direction: row;
      justify-content: space-between;
//      margin-bottom: 1rem;
    }
  }

  &__item {
    @extend %bb_square__item-base;

    &:before {

      content: "Steven Tyso Chandler, DO";
      position: absolute;
      left: 18%;
      right: 18%;
      bottom: 10%;
      color: white;
      text-align: center;
      font-family: $gothamBold, "Trebuchet MS", Tahoma, Verdana, sans-serif;
      font-weight: 400;
      line-height: 1.4;
      font-size: .875rem;
      letter-spacing: 1px;
      text-transform: uppercase;
    }

    &:after {
      content: "";
      position: absolute;
      left: 6%;
      right: 6%;
      top: 6%;
      bottom: 6%;
      color: white;
      border: 1px solid rgba(255,255,255,.65);
    }

    // placeholder
    &--ph {
      @extend %bb_square__item-base;
      opacity: .2;
    }
  }

  &__image {
    width: 100%;
    height: auto;

  }

}

