.single .post > p:first-of-type:first-letter, 
.dropcap {
    height: .7em;
    margin: .13em 0 -.05em 0;
    padding: 0 .1em 0 0;
    font-size: 4.3125em;
    line-height: .7em;
    float: left;
    color: $yellow;
}

.dropcap {

  &--gray {
    color: $gray;
  }
  
  &--pink {
    color: $pink;
  }

  &--hotpink {
    color: $hotpink;
  }

  &--red {
    color: $red;
  }

  &--blue {
    color: $blue;  
  }

  &--orange {
    color: $yellow;
  }

  &--bluegreen {
    color: $bluegreen;
  }


}
