%button {
    @include button('yellow');
    @include webFont();
    width: 100%;
    height: 51.5px;
    text-align: center;
    color: #fff;
    font-size: 20px;
}

.outer-row .hero {
    position: relative;
    margin-bottom: 30px;

    @media (min-width: $screen-sm-min) {
        margin-bottom: 70px;
    }
}

.hero--image {

    img {
        width: 100%;
        height: auto;
    }

}

.hero--band {
    position: static;
    padding: 18px 0 10px 0;
    background: rgba(#b5790b, 0.9);

    @media (min-width: $screen-sm-min) {
        padding: 15px 0 10px 0;
    }

    // @media (min-width: $screen-md-min) {
    //     position: absolute;
    //     bottom: 0;
    //     left: 0;
    //     right: 0;
    // }

    @media (min-width: $screen-sm-min) and (max-width: $screen-md-min) {
        padding: 15px 0;
    }
}

.hero--message {
    @include webFont();
    padding-bottom: 0;
    margin-bottom: .5em;
    color: #fff;
    font-size: 16px;
    line-height: 23px;

    @media (min-width: $screen-sm-min) {

        margin-bottom: .75em;
        font-size: 18px;
        line-height: 25px;
    }

    @media (min-width: $screen-md-min) {
        margin-bottom: 1em;
        font-size: 21px;
        line-height: 32px;
    }   
//    @media (min-width: $screen-sm-min) {
//        padding-bottom: 30px;
//        font-size: 22px;
//        line-height: 36px;
//    }

    /*@media (min-width: $screen-md-min) {*/
        /*font-size: 25px;*/
    /*}*/
}

.hero--title {
    @include webFont('bold');
    margin-bottom: .25em;
    padding-right: 0;
    font-size: 23px;
    line-height: 1.5;
    text-transform: uppercase;
    color: #fff;

    @media (max-width: $screen-sm-min) {
        padding-top: 5px;
        padding-bottom: 0;
    }

    @media (min-width: $screen-md-min) {
        font-size: 2.8vw;
    }

    @media (min-width: $screen-md-max) {
        font-size: 2.1vw;
    }

    @media (min-width: 1670px) {
        font-size: 35px;
    }
}

.hero--form form {

    @media (min-width: $screen-sm-min) {
        display: table;
        width: 100%;
    }
}

.hero--form--inner {

    margin-bottom: 1em;

    .searchclear {
        position: absolute;
        right: 28px;
        top: 6px;
        bottom: 0;
        display: none;
        font-size: 2.5em;
        color: #ccc;
        cursor: pointer;
    }

    @media (min-width: $screen-sm-min) {
        /*display: table-cell;*/
        /*vertical-align: top;*/
    }

    .row {
        /*margin-right: -5px;*/
        /*margin-left: -5px;*/
    }

    .col-sm-6 {
        padding: 0 5px;
    }

    .location {
        margin-bottom: 1em;
        @media (min-width: $screen-sm-min) and (max-width: $screen-md-min) {
            /*width: 40%;*/
        }
    }
    .specialty {
        @media (min-width: $screen-sm-min) and (max-width: $screen-md-min) {
            width: 60%;
        }
    }

    input {
        @include box-shadow(inset 0 0 7px rgba(146,146,146,.35));
        @include webFont();
        width: 100%;
        height: 50px;
        padding: 0 15px;
        font-size: 16px;
        line-height: 1.4;
        background-color: #f1f1f1;
        border: none;

        @media (min-width: $screen-md-min) {
            font-size: 18px;
        }

//        @media (max-width: $screen-sm-min) {
//            margin-bottom: 10px;
//            font-size: 16px;
//            height: 50px;
//        }
    }
}

.hero--form--button {
    height: 50px;

    @media (min-width: $screen-sm-min) {
        /*width: 1%;*/
        /*display: table-cell;*/
    }

    
    button {
      @extend %button;

      @media (min-width: $screen-sm-min) {
          /*width: 136px;*/
          height: 51.5px;
          margin-left: 10px;
      }
    }

    &--inside {
      button {
        @extend %button;
        margin-left: 0;
      }
    }
}
